node_modules/
config.env


cart": {
    "_id": "6512c5f436b32b28c92b2a62",
    "userId": "65126eac496fad8ea23a26d5",
    "cartItems": [
      {
        "productId": {
          "price": {
            "mrp": 3999,
            "cost": 349,
            "discount": "91%"
          },
          "_id": "650d4fa917e5ca9fb70d63ae",
          "brand": "Visit the Lymio Store",
          "title": "Lymio Casual Shirt for Men|| Shirt for Men|| Men Stylish Shirt || Men Printed Shirt (Big Pan)",
          "description": "Casual wear, Pair with solid or casual shirts and sneakers for a stylish casual look.",
          "thumbnail": "https://m.media-amazon.com/images/I/81AoSeqKlpL._UY550_.jpg",
          "image_url": [
            "https://m.media-amazon.com/images/I/81AoSeqKlpL._UY550_.jpg",
            "https://m.media-amazon.com/images/I/81AoSeqKlpL._UY550_.jpg",
            "https://m.media-amazon.com/images/I/81pTT0dRHWL._UY550_.jpg",
            "https://m.media-amazon.com/images/I/5102WsHERqL._UX679_.jpg"
          ],
          "tagline": "Deal of the day",
          "features": [
            "Care Instructions:  Hand Wash Only",
            "Fit Type: Regular Fit",
            "Lightweight and Breathable fabric",
            "Cotton blend shirts",
            "Half Sleeve",
            "Please Noted - Only upper part of Only shirt is given Not inner t shirt and No any Accessories given"
          ],
          "productDetails": [
            {
              "key": "Product Dimensions",
              "value": "0 x 2 x 11 cm; 299 Grams"
            },
            {
              "key": "Date First Available",
              "value": " 24 March 2023"
            },
            {
              "key": "Manufacturer",
              "value": " J B Fashion"
            },
            {
              "key": "Country of Origin",
              "value": "India"
            },
            {
              "key": "Item Weight",
              "value": "290g"
            },
            {
              "key": "Item Dimensions LxWxH ",
              "value": "10 x 2 x 11 Centimeters"
            },
            {
              "key": "Customer Reviews",
              "value": "3.4"
            }
          ],
          "stock": 9,
          "updatedAt": "2023-09-25T08:25:51.022Z"
        },
        "quantity": 2
      }
    ],
    "totalPrice": 698,
    "totalItems": 2,
    "createdAt": "2023-09-26T11:52:20.469Z",
    "updatedAt": "2023-09-26T12:15:14.237Z",
    "__v": 0
  }