/* body {
  padding: 1rem;
  margin: 2rem;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb(51, 51, 51);
  background-color: white;
  display: flex;
  flex-direction: column;
}
.orderDetails{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.orderDetails .box{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.products >div{
    padding: 5px 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
}
.products img{
    height: 5rem;
    width: 6rem;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.products h3, .products h6{
        font-size: 14px;
} */

div{
    border:5px;
    border-color: red;
}